language: perl
  perl:
     - "5.18"
     - "5.16"
     - "5.14"
     - "5.12"
     - "5.10"
     - "5.8"

  install:
     - export RELEASE_TESTING=1 AUTOMATED_TESTING=1 AUTHOR_TESTING=1 HARNESS_OPTIONS=c HARNESS_TIMER=1
     - cpanm --quiet --notest --installdeps .

  script:
     - prove -lrsv t
